body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #ffffff;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #ffffff; 
}